#first-page{
    text-align: center;
    background-image:url(./images/pizzah\ three.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
    font-style: italic;
    font-family: fantasy;
    
}